<div class="game-card" >
  <div class="game-header">
    <h3>{{ game.title }}</h3>
    <span class="platform">{{ game.platform }}</span>
  </div>

  <div class="review-author" *ngIf="game.userName">
    <strong>{{ game.userName }}</strong>
  </div>

  <div class="rating" >
    <app-rating-stars [rating]="game.rating" *ngIf="game.status !== 'Quero jogar'"></app-rating-stars>
    <div class="status">{{ game.status }}</div >
  </div>
  
  <div *ngIf="gamelistpage" class="game-details">
      <div class="hours" *ngIf="game.status !== 'Quero jogar'">Horas jogadas: {{ game.hoursPlayed }}h</div>
      <div class="total-duration" *ngIf="game.status !== 'Já joguei'">Duração: {{ game.totalDuration }}h</div>
      <div class="%completed" *ngIf="game.status === 'Jogando' || game.status ===  'Abandonei'">Concluído: {{ (game.hoursPlayed / game.totalDuration) * 100 | number:'1.0-0' }}%</div>
      <div class="price" *ngIf="game.status === 'Quero jogar'">R$ {{ game.price | number:'1.2-2' }}</div>
  </div>

  <div *ngIf="showActions" class="game-actions">
    <button class="Editar" (click)="onEdit.emit(game.id)">Editar</button>
    <button class="delete" (click)="onDelete.emit(game.id)">Excluir</button>
  </div>
</div>